In [1]:
import pandas as pd

In [2]:
netflix_data = pd.read_csv ("NetflixViewingHistory.csv")

In [3]:
netflix_data

                                                  Title      Date
0            Russian Doll: Season 2: Station to Station    5/4/22
1                   Russian Doll: Season 2: Brain Drain    5/3/22
2             Russian Doll: Season 2: Coney Island Baby   4/26/22
3                        Russian Doll: Season 2: Nowhen   4/26/22
4     Eternally Confused and Eager for Love: Season ...   4/10/22
...                                                 ...       ...
1967                    The OA: Part I: Chapter 4: Away  12/22/16
1968                The OA: Part I: Chapter 3: Champion  12/22/16
1969            The OA: Part I: Chapter 2: New Colossus  12/22/16
1970              The OA: Part I: Chapter 1: Homecoming  12/22/16
1971                                 The Imitation Game  12/21/16

[1972 rows x 2 columns]

In [75]:
#To veiw how many rows and columns of the dataset we have .
netflix_data.shape[0]

1972

In [6]:
#Spesifically rows or columns 
rows = netflix_data.shape[0]
columns = netflix_data.shape[1]
print (rows,columns)

1972 2

In [31]:
#how many times the account was used  to watch Grey's Anantomy
netflix_data["Title"].apply(lambda title:"Grey's Anatomy" in title).sum()

67

In [40]:
#How many episodes of the series Grey's Anatomy did she watch? we use the full colon to indicate that it will pick all rows .
netflix_data.loc[["Grey's Anatomy" in title for title in netflix_data["Title"]],:]

Title    67
Date     67
dtype: int64

In [43]:
#What date did she finish watching kim's Convinience
netflix_data.loc[["Kim's Convenience" in title for title in netflix_data["Title"]],].sort_values("Date",ascending=False)

                                                 Title      Date
359       Kim's Convenience: Season 5: Family Business   6/28/21
360        Kim's Convenience: Season 5: Hugs & Prayers   6/28/21
361         Kim's Convenience: Season 5: Matchy Matchy   6/28/21
362   Kim's Convenience: Season 5: Who's Pranking Who?   6/28/21
363      Kim's Convenience: Season 5: Field of Schemes   6/28/21
...                                                ...       ...
1529              Kim's Convenience: Season 1: Wingman  11/19/18
1530      Kim's Convenience: Season 1: Frank & Nayoung  11/19/18
1531           Kim's Convenience: Season 1: Ddong Chim  11/19/18
1532       Kim's Convenience: Season 1: Janet's Photos  11/19/18
1533         Kim's Convenience: Season 1: Gay Discount  11/19/18

[65 rows x 2 columns]

In [49]:
#Finding just the dates
df = netflix_data.loc[["Kim's Convenience" in title for title in netflix_data["Title"]],].sort_values("Date",ascending=False)
df["Date"].iloc[0]

'6/28/21'

In [56]:
#What is the last episode of Kim's convinience that she watched
lastEpisode = netflix_data.loc[["Kim's Convenience" in title for title in netflix_data["Title"]],].sort_values("Date",ascending=False)
lastEpisode["Title"].iloc[0]

"Kim's Convenience: Season 5: Family Business"

In [64]:
#What % consist of watching shows and movies 
percentage = netflix_data["Title"].apply(lambda title: "Season" in title or "Chapter" in title)
Series = percentage.sum() / len(netflix_data) * 100
Series

90.31440162271805

In [66]:
Movies = 100 - Series
Movies

9.685598377281949

In [70]:
#Alternative for using Lambda ,you can define your own function and use it
def is_series (title):
    return "Season" in title or "Chapter" in title

In [71]:
#Test the function
netflix_data["Title"].apply(is_series)

0        True
1        True
2        True
3        True
4        True
        ...
1967     True
1968     True
1969     True
1970     True
1971    False
Name: Title, Length: 1972, dtype: bool

In [72]:
#So if we want to predefine keywords and use them later on we can define them as follows
def contains_keyword (value,keywords):
    return any(keyword in value for keyword in keywords)

In [73]:
#Create a list containing the keywords
keywords = ["Chapter","Season"]
keywords

['Chapter', 'Season']

In [74]:
#Call the function
netflix_data["Title"].apply(contains_keyword,args=(keywords,))

0        True
1        True
2        True
3        True
4        True
        ...
1967     True
1968     True
1969     True
1970     True
1971    False
Name: Title, Length: 1972, dtype: bool